anyio==3.7.1
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
asgiref==3.8.1
asttokens==3.0.0
atomicwrites==1.4.1
attrs==24.2.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
brotli==1.1.0
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
comm==0.2.2
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
docker-pycreds==0.4.0
dotenv==0.9.9
entrypoints==0.4
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.74.0
fastjsonschema==2.20.0
gitdb==4.0.11
gitpython==3.1.43
h11==0.14.0
idna==3.10
importlib-metadata==8.5.0
importlib-resources==6.4.5
iniconfig==2.0.0
ipykernel==6.29.5
ipython-genutils==0.2.0
ipython==8.12.2
ipywidgets==7.6.5
jedi==0.19.1
jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
jupyter-client==7.4.9
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-server==1.24.0
jupyter==1.0.0
jupyterlab-pygments==0.3.0
jupyterlab-server==2.16.6
jupyterlab-widgets==1.0.2
jupyterlab==3.2.9
markupsafe==2.1.5
matplotlib-inline==0.1.7
mistune==3.0.2
nbclassic==0.5.6
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook-shim==0.2.4
notebook==6.5.7
numpy==1.21.5
packaging==24.2
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.4
pathtools==0.1.2
pickleshare==0.7.5
pip==21.3.1
pkgutil-resolve-name==1.3.10
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.2
prometheus-client==0.21.0
promise==2.3
prompt-toolkit==3.0.48
protobuf==4.25.3
psutil==6.0.0
pure-eval==0.2.3
py==1.11.0
pycparser==2.22
pydantic==1.9.0
pygments==2.18.0
pysocks==1.7.1
pytest==6.2.5
python-dateutil==2.9.0
python-dotenv==1.0.1
pytz==2024.2
pywin32==306
pywinpty==2.0.13
pyyaml==6.0.2
pyzmq==26.2.0
qtconsole==5.6.1
qtpy==2.4.2
referencing==0.35.1
requests==2.27.1
rpds-py==0.20.0
scikit-learn==1.0.2
scipy==1.10.1
send2trash==1.8.3
sentry-sdk==2.19.2
setproctitle==1.3.3
setuptools==59.8.0
shortuuid==1.0.13
six==1.16.0
smmap==5.0.0
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.2
starlette==0.17.1
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
toml==0.10.2
tornado==6.4.1
traitlets==5.14.3
typing-extensions==4.12.2
urllib3==1.26.19
uvicorn==0.17.5
wandb==0.12.14
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
zipp==3.21.0